# ───── Python 관련 ─────
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
env/
venv/

# ───── VS Code ─────
.vscode/

# ───── Node.js (React, React Native 등) ─────
node_modules/
dist/
build/

# ───── Jupyter Notebook ─────
.ipynb_checkpoints/

# ───── 시스템 파일 ─────
.DS_Store
Thumbs.db

# ───── Alembic ─────
alembic/versions/__pycache__/
alembic/versions/*.pyc
