# ✅ 사용자 테스트 보고서 (회차별 정리)

- [1차 테스트 결과](./user-test-report/1st.md)
    - 1-4 ~ 1-7, 1-11 ~ 1-13, 6-6 성공
- [2차 테스트 결과](./user-test-report/2nd.md)
- [3차 테스트 결과](./user-test-report/3rd.md)
    - 1-1, 2-2 성공
- [4차 테스트 결과](./user-test-report/4th.md)
